# Working data that must never be committed:
# - article PDFs are copyrighted (corpus PDFs live in C:/temp/journals)
# - the Carlisle spreadsheets are working data, not repository content
corpus/**/*.pdf
corpus/*.pdf
corpus/ExpectedResults.xlsx
corpus/ActualResults.xlsx
TestPapers/
*Carlisle*.xlsx
One Sheet*.xlsx
rsconnect/
*.Rcheck/
*.tar.gz
.Rproj.user/
IntegrityAnalysis.Rcheck/
IntegrityAnalysis_*.tar.gz
.NewCarlisle/
